* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.post-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 25px;
    padding: 25px;
    grid-template-areas:
        "h1 h2 h3"
        "h1 h4 h5";
}

.post-item:first-child {
    grid-area: h1;
}

.post-item:nth-child(2) {
    grid-area: h2;
}

.post-item:nth-child(3) {
    grid-area: h3;
}

.post-item:nth-child(4) {
    grid-area: h4;
}

.post-item:nth-child(5) {
    grid-area: h5;
}

.post-item-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    flex-shrink: 0;
}

.post-content {
    font-weight: 400;
    padding: 15px 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-large {
    height: auto;
}

.post-item {
    display: flex;
    flex-direction: column;
}

.post-title {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 500;
    color: #3f2a78;
}

.post-time {
    font-weight: 400;
    color: #ccc;
}
